<%=render partial: "partials/crumb", locals: {active: "completed offers", passive: [link_to("Home", customer_boxes_path), link_to("#{@box.name}", customer_box_path(@box.id))]}%>

customer completed offers - make this into table format for easier viewing

<div class="row">
  <%= render partial: "customer_completed_offer", collection: @completed_offers, as: :offer%>
</div>
