<%=render partial: "partials/crumb", locals: {active: "completed offers", passive: [link_to("Home", customer_boxes_path), link_to("#{@box.name}", customer_box_path(@box.id))]}%>
<div class="row">
  <%=render partial: "partials/box_tabs", locals: {box: @box, active: "archived"}%>

  <div class="col-10">
    <%= render partial: "customer_completed_offer", collection: @completed_offers, as: :offer%>
  </div>
</div>
