<%render partial: "partials/crumb", locals: {active: "subscriptions for #{@box.name}", passive: [link_to("Home", customer_boxes_path), link_to(@originating_box.name, customer_box_path(id:@originating_box.id)), link_to("follow other boxes", customer_box_foreign_boxes_path(box_id:@originating_box.id))]}%>

customer box subscriptions index Subscriptions for Box #<%=@box.id%>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>address</th>
    <th>search terms</th>
    <th>key words</th>
  </tr>
  <%=render partial: "box", collection: @subscriptions, as: :box%>
</table>
