<%offer = box.approved_active_offer%>
<div class="card" style="border-width: 9px; border-style: solid;
  border-color:#<%=box.background%>">
  <div class="card-body">
    <h3 class="card-title">
      <%=box.name%></h3>
    <p class='card-text'>Search terms:
      <%=box.search_terms%></p>
  </div>
  <div class="card-body">


    <%=link_to "show box", customer_box_path(id: box.id)%>

  </div>
</div>
