
  <div class="col-12 d-md-none p-3">
    <%=render partial: "edit_form", locals: {box:@box}%>
  </div>

  <div class="col-10 d-none d-md-block p-4">
    <%=render partial: "edit_form", locals: {box:@box}%>
  </div>

</div>
