<%# <%render partial: "partials/crumb", locals: {active: "Home"}%>

<%=createWelcomeMessage(box_count: @box_count, foreign_box: @foreign_box)%>
<h1>Check your boxes for recent recommendations!</h1>
<p class="mb-3">check out your boxes for new recommendations!</p>
<div class="row" style="padding-top: 15px;"></div>

<div class="card-columns">
  <%=render partial: 'box', collection: @boxes%>
</div>

<!-- Button trigger modal -->

<button type="button" class="btn btn-dark font-weight-bold btn-sm" data-toggle="modal" data-target="#newBoxModal">
  Create new box
</button>

<!-- Modal -->
<%=render partial: "partials/create_new_box", locals: {box: @box}%>
