<%=render partial: "partials/crumb", locals: {active: @box.name, passive: [link_to("Home", customer_boxes_path)]}%>

<h5>Box Name:<%=@box.name%></h5>
<div class="row">
  <%=render partial: "partials/box_tabs", locals: {box: @box, active: "archived"}%>
  <div class="col-10">
  </div>
</div>
