
<table>
  <tr>
  <th>ID</th>
  <th>name</th>
  <th>gender</th>
  <th>search terms</th>
  <th>keywords</th>
  <th>modifiers</th>
  <th>last updated</th>
  <th>address</th>
  <th>offer status</th>
  </tr>
<%= render partial: "box", collection: @boxes%>
</table>
