<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%if local_assigns[:passive]%>
      <%passive.each do |t|%>
        <%=render partial: "partials/passive_crumb", locals: {link: t}%>
      <%end%>
      <%end%>
    <%if local_assigns[:active]%>
      <li class="breadcrumb-item active small" aria-current="page"><%=active%></li>
    <%end%>
  </ol>
</nav>
