<nav class="navbar navbar-light navbar-expand-lg justify-content-center">
  <%= link_to fa_icon("adn 2x",text:"logo"), "", class:"navbar-brand"%>
  <%=render "partials/navbars/#{@user_role}"%>
</nav>
