<nav class="navbar navbar-light navbar-expand">
  <%=link_to image_tag('dealsfordatalogolarge.png', class:"navbar-brand"), root_path%>
  <%if current_user.present? #TODO feels janky%>
  <%=render "partials/navbars/#{current_user.role}"%>
  <%else%>
  <%=render "partials/navbars/logged_out"%>
  <%end%>
</nav>
