<nav class="navbar navbar-light navbar-expand">
  <%= link_to fa_icon("adn 2x",text:"logo"), "", class:"navbar-brand"%>
  <%if current_user.present? #TODO feels janky%>
  <%=render "partials/navbars/#{current_user.role}"%>
  <%else%>
  <%=render "partials/navbars/logged_out"%>
  <%end%>
</nav>
