<form id='plaid-link-form'></form>
<script
    src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"
    data-client-name="My App"
    data-form-id="plaid-link-form"
    data-key="[PUBLIC KEY]"
    data-product="auth"
    data-env="sandbox">
</script>
