<div data-controller="responder">
  <input data-target="responder.comment" type="text" placeholder="add a message" style="width:100%; max-width: 300px">
  <input data-target="responder.link" type="text" placeholder="submit a link" style='width:100%;max-width: 300px'>

  <button data-action="click->responder#recommend" ,="," class="btn btn-sm text-white font-weight-bold" style="background-color: <%=["#FF89C0","#FFA4A5","#FFC385"][rand(0..2)]%>;">
    send
  </button>

  <span data-target="hello.output"></span>
</div>
