<ul class="nav flex-column h-100 w-100 rounded-lg">
<div class="mx-auto">
<%=link_to image_tag('dealsfordatalogolarge.png', class:"p-4"), root_path%>
</div>

    <li class="nav-item p-1 mx-auto">
      <%=link_to "Make a box", new_user_session_path, class:"font-weight-bolder text-white"%>
    </li>
    <li class="nav-item p-1 mx-auto">
      <%=link_to "See your boxes", new_user_session_path, class:"font-weight-bolder text-white"%>
    </li>
</ul>
