<%link0,link1,link2 = "white","white","white"%>
<%case active%>
<%when 0%>
<%link0 = "pink"%>
<%when 1%>
<%link1 = "pink"%>
<%when 2%>
<%link2 = "pink"%>
<%end%>

<ul class="sidebar nav flex-column rounded-lg">
<div class="mx-auto">
<%=link_to image_tag('dealsfordatalogolarge.png', class:"p-4"), root_path%>
</div>

    <li class="nav-item p-1 mx-auto">
      <%=link_to "Log in", new_user_session_path, class:"font-weight-bolder text-#{link0}"%>
    </li>
    <li class="nav-item p-1 mx-auto">
      <%=link_to "See requests", root_path, class:"font-weight-bolder text-#{link1}"%>
    </li>
    <li class="nav-item p-1 mx-auto">
      <%=link_to "Make a box", new_user_session_path, class:"font-weight-bolder text-#{link2}"%>
    </li>

</ul>
