<ul class="nav flex-column h-100 w-100 rounded-lg fill" >
<div class="mx-auto">
<%=link_to image_tag('dealsfordatalogolarge.png', class:"p-4"), root_path%>
</div>

    <li class="nav-item p-1 mx-auto">
      <span class="font-weight-bolder text-white" data-toggle="modal" data-target="#newBoxModal">
        Create new box
      </span>
    </li>
    <li class="nav-item p-1 mx-auto">
      <%=link_to "See your boxes", customer_boxes_path, class:"font-weight-bolder text-white"%>
    </li>
    <li class="nav-item p-1 mx-auto">
      <%=link_to "Settings", customer_user_path(current_user), class:"font-weight-bolder text-white"%>
    </li>
    <li class="nav-item p-1 mx-auto">
      <%=link_to "Log out", destroy_user_session_path, class:"font-weight-bolder text-white"%>
    </li>
</ul>
