<ul class="nav justify-content-center">
  <li class="nav-item">
    <%=link_to "index page", admin_users_path, class:"nav-link" %>
  </li>
</ul>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <%=link_to fa_icon("sign-out 2x", text: "Sign out"), destroy_user_session_path, :method => :delete, class:"nav-link" %>
  </li>
</ul>
