<ul class="nav justify-content-center">
  <li class="nav-item">
    <%=link_to fa_icon("gift 2x",text:"boxes"), customer_user_boxes_path(current_user), class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to fa_icon("archive 2x",text:"purchased"), "", class:"nav-link" %>
  </li>
</ul>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <%=link_to fa_icon("user 2x", text: "Profile"), customer_user_path(current_user), class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to fa_icon("sign-out 2x", text: "Sign out"), destroy_user_session_path, :method => :delete, class:"nav-link" %>
  </li>
</ul>
