<ul class="nav justify-content-end">
  <li class="nav-item">
    <%=link_to "Log in", new_user_session_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to "Sign up", new_user_registration_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to "FAQ", faq_index_path, class:"nav-link" %>
  </li>
</ul>
