<div class="col-6">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%=link_to "current campaign info", "", class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%=link_to "history", "", class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%=link_to "coupons", "", class:"nav-link" %>
    </li>
  </ul>
</div>
