<%render partial: "partials/crumb", locals: {active: "follow other boxes", passive: [link_to("Home", customer_boxes_path), link_to("#{@box.name}", customer_box_path(@box.id))]}%>
<div class="row">

  <%=render partial: "partials/horizontal_box_tabs", locals: {box: @box, active: "following"}%>
  <%=render partial: "partials/box_tabs", locals: {box: @box, active: "following"}%>

<div class="col card-columns">
  <%=render partial: 'box', collection: @foreign_boxes%>
</div>

</div>
