<%=render partial: "partials/crumb", locals: {active: "follow other boxes", passive: [link_to("Home", customer_boxes_path), link_to("#{@box.name}", customer_box_path(@box.id))]}%>

<div class="card-columns">
  <%=render partial: 'box', collection: @foreign_boxes%>
</div>
