<tr>
  <%if offer.link.present?%>
    <td><%=link_to(image_tag(offer.image.variant(resize: "100x100")),offer.link) if offer.image.present?%></td>
    <td><%=link_to(offer.title,offer.link) if offer.title.present?%></td>
    <td><%=offer.current_price if offer.current_price.present?%></td>
  <%end%>
</tr>
