<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Help others find what they're looking for!</h1>
    <p class="lead">How this works: People post a search request, and you can submit an answer.  You can also see other answers and how the person responded to them.</p>
  </div>
</div>

<div class="card-columns">
      <%=render partial: 'box', collection: @boxes%>
</div>
