<%=render partial: "partials/title", locals: {title: "Help others find what they're looking for!"}%>
    <p class="mb-3">How this works: People post a search request, and you can submit a recommendation.  You can also see other recommendations and how the person responded to them.</p>
    <div class="row" style="padding-top: 15px;"></div>


<div class="card-columns">
      <%=render partial: 'partials/box', collection: @boxes%>
</div>

<%=render partial: "partials/create_new_box", locals: {box: @new_box} if current_user.present? %>
