<div data-controller = "hello" >
  <input data-target="hello.name" type="text">
  <button data-action="click->hello#log">Log</button>
</div>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
