<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">WishJar - A place to get up to date deals and advertising that you like!</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<%@boxes.each_slice(3) do |t|%>
<div class="row row-cols-1 row-cols-md-3">
      <%=render partial: 'box', collection: t%>
</div>
<%end%>
