<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%=link_to "Home", customer_boxes_path%></li>
    <li class="breadcrumb-item" aria-current="page"><%=link_to @box.name, customer_box_path(@box)%></li>
    <li class="breadcrumb-item active" aria-current="page">follow other boxes</li>
  </ol>
</nav>

<div class="card-columns">
  <%=render partial: 'box', collection: @foreign_boxes%>
</div>
