      <div class="form-group">
        <%=f.input :public_selected_option,
            as: :check_boxes,
            collection: offer.public_options,
            wrapper_html: {class: ['i-checks, form-check-inline']}%>

</div>
