<% if @box.public?%>
  <%=link_to "make your own offer", new_customer_box_offer_path(@box)%>
<%end%>
<div class="row">
  <%= ShowApprovedOffer(offer: @offer)%>
</div>
<div class="container-sm mx-auto">
  <%=@approved_count%>
  offers lined up
</div>
