<p>employee customer index offers page</p>
<p>Offers for Box: <%=@box.name%></p>
<table>
  <tr>
    <th>approved</th>
    <th>status</th>
    <th>last updated</th>
    <th>description</th>
    <th>tags</th>
    <th>options</th>
    <th>selected option</th>
    <th>merchant</th>
    <th>image</th>
  </tr>
  <%= render partial: "offer", collection: @offers, as: :offer%>

</table>

<%=link_to "new offer", new_employee_offer_path(box_id: @box.id)%>
