<p>employee customer index offers page</p>
<p>Offers for customer <%=@customer.email%></p>
<table>
  <tr>
    <th>status</th>
    <th>created</th>
    <th>last updated</th>
    <th>description</th>
    <th>tags</th>
    <th>options</th>
    <th>selected_options</th>
    <th>customer</th>
    <th>merchant</th>
    <th>image</th>
  </tr>
  <%= render partial: "offer", collection: @customer_offers, as: :offer%>

</table>

<%=link_to "new offer", new_employee_offer_path%>
