
.nav, .navbar {
  background-color: rgb(60,60,60);
}

/** Temporary fix for Bootstrap accordion bug -- see https://github.com/twbs/bootstrap/issues/26556 **/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif !important;
}

p, div {
    font-family: 'Quicksand', sans-serif !important;
    font-size:13px;
}

body {
    font-family: 'Quicksand', sans-serif !important;

}

.jumbotron {
  background: white
}

/* .nav .ol .li {
  font-size: 1px;
} */


.background {
  background-image: url(../images/isometric_cube_pattern.jpg);
}

.notice {
  background-color: black;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/* used to get rid of the sign in/sign out flash message */
 .flash.alert:empty {
  display: none;
}
