<%binding.remote_pry%>

<div class="col-sm-6">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%=offer.image.attached? ? image_tag(offer.image, class:"card-img") : nil #TODO replace this with a default image %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>Cards class="card-title"><%=offer.title%></h5>
          <p class='card-text'><%=offer.description%></p>
        </div>
      </div>
    </div>
  </div>
</div>
