<div class="card">
  <div class="card-body">
    <h5 class="card-title">Title: <%=box.name%></h5>
    <p class='card-text'>Search terms:
      <%=box.search_terms%></p>
  </div>
  <div class="card-body">
    <%= addBoxLinks(box: box, subscriber: @customer_box) %>
  </div>
</div>
