<tr>
  <td><%=link_to "Profile",employee_user_path(customer)%></td>
  <td><%=customer.email%></td>
  <td><%=link_to "Boxes", employee_boxes_path(id: customer.id) %></td>
  <td>txn history TODO</td>
</tr>
