<%=render partial: "partials/title", locals: {title: "FAQ"}%>

<h2>Why is this site called Deals for Data?</h2>
<p>I was originally planning on making this awesome personal shopper powered machine learning thing where you put in any request and I played a game of guess to slowly iterate towards items that you liked.  Hence, 'Deals for Data'  This turned out to be waaay harder than I thought.  I still want to move towards that model eventually.</p>

<h2>What's the future plans for this site?</h2>
<p>Depends.  If no one uses it, then it goes on my resume.  If people do use it, I would like to have it so that any links sent to people looking for recommendations get turned into affiliate links, and the affiliate income is then split between the recommender and myself</p>

<h2>What information are you using to make recommendations?</h2>
<p>Only the information that you give to me - I don't have facebook trackers or anything like that.  I want to create a site where you are compensated for the data you explicitly provide</p>
