<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New offer:  <%= @offer.title%> for Box <%=@box.name%></h1>
    <p>Offer Description: <%= @offer.description%>
    </p>
    <p>
      To check it out, just follow this link:
      <%= @url %>.
    </p>
    <p>Happy curating!</p>
  </body>
</html>
