employee customer index offers page

<table>
  <tr>
    <th>status</th>
    <th>created</th>
    <th>last updated</th>
    <th>description</th>
    <th>tags</th>
    <th>options</th>
    <th>selected_options</th>
    <th>customer</th>
    <th>merchant</th>
  </tr>
  <%= render partial "offer", collection: @customer_offers, as: :offer%>

</table>

<%=link_to "new offer", new_employee_offer_path%>
